<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <title>Listing</title>
  <!-- </head>
  <body> -->
    
    <%- include('navigator_bar') -%>
        <div class="col-sm-11 text-right">
          <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Arrange By
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="http://localhost:3004/notes-sortby/date/asc">Date (Earliest)</a></li>
            <li><a class="dropdown-item" href="http://localhost:3004/notes-sortby/date/desc">Date (Latest)</a></li>          
            <li><a class="dropdown-item" href="http://localhost:3004/notes-sortby/behaviour/asc">Behaviour (A-Z)</a></li>
            <li><a class="dropdown-item" href="http://localhost:3004/notes-sortby/behaviour/desc">Behaviour (Z-A)</a></li>
            <li><a class="dropdown-item" href="http://localhost:3004/notes-sortby/flock_size/asc">Flock_size (Asc)</a></li>
            <li><a class="dropdown-item" href="http://localhost:3004/notes-sortby/flock_size/desc">Flock_size (Desc)</a></li>
            </ul>

      
            <%let link=`/users/${idx}`%>
            <a href="<%=link %>" class="btn btn-dark btn-4 active" role="button" aria-pressed="true">My Notes</a>



          </div>
        </div>
        <div class="container">
        <div class="row">
          <div class="col-sm-12" style="padding-bottom: 30px;">
           
            <h1>Hello </h1> 
            <br>
            <br>
        <table class="table table-dark">
          <thead>
            <tr>
              <!-- <th scope="col"></th> -->
              <th scope="col">Index</th>
              <th scope="col"></th>
              <th scope="col">Date</th>
              <th scope="col">Behaviour</th>
              <th scope="col">Flock Size</th>
              <th scope="col">Species</th>
              <th scope="col">Creator</th>
              <th scope="col"></th>          
              <th scope="col">Action</th>
              <th scope="col"></th>

        
            </tr>
          </thead>
        </table>
              
            <%let numOfRec=data.length %>
            <% for(let i=0; i < numOfRec; i +=1) { %>
            <!-- <ul> -->
             <!-- <div class="container"> -->
             <div class="shadow p-3 mb-5 bg-white rounded">
                <div class="row">
                  
                  <div class="col-sm-1">
                    <% let url = `/note/${data[i].id}` %> <% let text = `No. ${i+1}` %>
                    <a href="<%=url %>"><%=text %></a>
                  </div> 
                  
                  <div class="col-sm-2">
                    <% let date=data[i].date%>
                    <span><%=date%></span>
                  </div> 

                  <div class="col-sm-2">
                    <% let behaviour=data[i].action%>
                    <span><%=behaviour%></span>
                  </div> 

                  <div class="col-sm-1">
                    <% let flock_size=data[i].flock_size%>
                    <span><%=flock_size%></span>
                  </div> 

                  <div class="col-sm-2">
                    <% let species=data[i].species%>
                    <span><%=species%></span>
                  </div> 
                  
                  <div class="col-sm-2 capitalize">
                    <% let user=data[i].user_name%>
                    <span><%=user%></span>
                  </div> 
                

                  <div class="col-sm-1">
                    <% let update_id = `update ${data[i].id}` %>
                    <form action="/note/<%=data[i].id%>/edit" method="GET">
                      <input type="submit" value="Update" <%=id= update_id %>/>   
                    </form>   
                  </div>      

 
                  
                </div>    
             </div>
             <!-- </div>        -->
             <!-- </ul> -->
            <% } %>
          </div>  
        </div>
        </div>   
  </body>
</html>
